body {
    font-family: 'Poppins', sans-serif;
}
#masthead .navbar {
    margin-bottom: 0;
    background-color: #000000;
    border-bottom: 2px solid #ae3052;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    padding: 30px 0;
}
#masthead .navbar .container {
    text-align: center;
}

#masthead .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body:not(.theme-preset-active) #masthead .navbar-nav > li {
    border-bottom: 2px solid transparent;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li:hover {
    border-bottom: 2px solid #ae3052;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 200ms ease-in-out;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover {
    padding-top: 0;
}

.slider .carousel-item img {
    width: 100%;
    height: 100%;
}

.slider .carousel-caption {
    position: absolute;
    right: 15%;
    top: 45%;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff;
    text-align: left;
    padding-left: 10%;
    max-width: 40%;
}
.slider .carousel-caption h5 {
    color: #fff;
    font-size: 35px;
}
.slider .carousel-caption p {
    color: #fff;
    font-size: 17px;
}

.slider .carousel-caption .btn {
    border-radius: 0;
    width: 132px;
    height: 42px;
    transition: all 300ms ease-in-out;
}

.slider .carousel-caption .btn-outline-primary {
    color: #fff;
    border-color: #ae3052;
}

.slider .carousel-caption .btn-outline-primary:hover {
    font-size: 14px;
    background-color: transparent;
    border-color: #ae3052;
}

.slider .carousel-indicators {
    top: 40%;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 20px;
    width: 20px;
    height: 100px;
}

.slider .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.slider .slider-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 20;
    width: 100%;
}
.slider .slider-icons .slider-social-icons {
    font-size: 1.2rem;
    padding-left: 1%;
}
.slider .slider-icons .slider-social-icons a {
    color: #fff;
    padding-left: 20px;
}
.slider .slider-icons .slider-arrow-down {
    text-align: center;
}
.slider .slider-icons .slider-arrow-down a {
    color: #fff;
    padding-bottom: 20px;
}

.about,
.offer,
.news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h1,
.offer h1,
.news h1 {
    color: #ae3052;
    font-weight: bold;
    margin-bottom: 20px;
}

.about {
    font-size: 17px;
}

.offer {
    height: 874px;
    background-image: url('inc/assets/img/Group 793.png'), url('inc/assets/img/car-dashboard-wheel-close-up.png');
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 513px, 100% 405px;
}

#offerCarousel .row {
    flex-wrap: nowrap;
}

#offerCarousel .carousel-control-prev,
#offerCarousel .carousel-control-next {
    width: 10px;
}

#offerCarousel .carousel-control-prev-icon {
    background-image: url('inc/assets/img/Icon\ ionic-ios-arrow-down-1.svg');
    position: relative;
    top: 0;
    bottom: 40px;
    right: 20px;
}
#offerCarousel .carousel-control-next-icon {
    background-image: url('inc/assets/img/Icon\ ionic-ios-arrow-down-2.svg');
    position: relative;
    top: 0;
    bottom: 40px;
    left: 20px;
}

#offerCarousel .col {
    background: url('inc/assets/img/hex.png') center center no-repeat;
    background-size: 204px 182px;
    text-align: center;
    height: 230px;
    padding-top: 52px;
}
#offerCarousel .col:hover {
    background-image: url('inc/assets/img/hex-hover.png');
}

#offerCarousel .col h2 {
    font-size: 17px;
    margin: 10px 0;
}

.news .news-box {
    align-items: center;
    border: 2px solid #DADADA;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 337px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.news .news-box img {
    width: 100%;
}

.news .news-box .btn-primary {
    color: #fff;
    background-color: #ae3052;
    border-color: #ae3052;
}

.news .news-box .btn-primary:hover {
    border-color: #972644;
}

.news .btn {
    border-radius: 0;
    width: 132px;
    height: 42px;
    transition: all 300ms ease-in-out;
}

.news .btn-outline-primary,
.news .btn-outline-primary:hover {
    color: #212529;
    background-color: transparent;
    border-color: #ae3052;
}

.news .btn-outline-primary:hover {
    font-size: 14px;
}

.page-footer,
.page-footer h3 {
    font-size: 13px;
    line-height: 23px;
}

.page-footer h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.page-footer .footer-logo {
    margin-bottom: 29px;
}

.page-footer .footer-phone p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.page-footer .footer-phone p>span {
    font-size: 13px;
    font-weight: 100;
}
.page-footer .footer-phone img {
    float: left;
    height: 46px;
    width: 32px;
    margin-right: 7px;
}

.page-footer .main-footer {
    background-color: #212529;
    color: #fff;
    padding: 80px 0;
}

.page-footer .copyright {
    background-color: #F9F9F9;
    padding: 21px 0 20px;
}

