body {
    font-family: "Poppins", sans-serif;
    color: #262626;
}
#masthead .navbar {
    margin-bottom: 0;
    background-color: #000000;
    border-bottom: 2px solid #ae3052;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    padding: 30px 0;
}
#masthead .navbar .container {
    text-align: center;
}

#masthead .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#masthead .navbar-nav > li {
    border-bottom: 2px solid transparent;
}

#masthead .navbar-nav > li:hover {
    border-bottom: 2px solid #ae3052;
}

#masthead .navbar-nav > li > a {
    color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 200ms ease-in-out;
}

#masthead .navbar-nav > li > a:hover {
    padding-top: 0;
}

.slider {
    .carousel-item {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .carousel-caption {
        position: absolute;
        right: 15%;
        top: 45%;
        left: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 0;
        color: #fff;
        text-align: left;
        padding-left: 10%;
        max-width: 40%;
        h5 {
            font-size: 35px;
        }
        p {
            font-size: 17px;
        }
        .btn {
            border-radius: 0;
            width: 132px;
            height: 42px;
            transition: all 300ms ease-in-out;
        }
        .btn-outline-primary {
            color: #fff;
            border-color: #ae3052;
            &:hover {
                font-size: 14px;
                background-color: transparent;
                border-color: #ae3052;
            }
        }
    }
    .carousel-indicators {
        top: 40%;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 20px;
        width: 20px;
        height: 100px;
        li {
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
    }
    .slider-icons {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        z-index: 20;
        width: 100%;
        .slider-social-icons {
            font-size: 1.2rem;
            padding-left: 1%;
            a {
                color: #fff;
                padding-left: 20px;
            }
        }
        .slider-arrow-down {
            text-align: center;
            a {
                color: #fff;
                padding-bottom: 20px;
            }
        }
    }
}

.about,
.offer,
.news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h1,
.offer h1,
.news h1 {
    color: #ae3052;
    font-weight: bold;
    margin-bottom: 20px;
}

.about {
    font-size: 17px;
    line-height: 30px;
}

.offer {
    height: 874px;
    background-image: url("../img/Group 793.png"), url("../img/car-dashboard-wheel-close-up.png");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 513px, 100% 405px;
    .carousel-control-prev,
    .carousel-control-next {
        width: 10px;
    }
    .carousel-control-prev-icon {
        background-image: url("../img/Icon\ ionic-ios-arrow-down-1.svg");
        position: relative;
        top: 0;
        bottom: 40px;
        right: 10px;
    }
    .carousel-control-next-icon {
        background-image: url("../img/Icon\ ionic-ios-arrow-down-2.svg");
        position: relative;
        top: 0;
        bottom: 40px;
        left: 10px;
    }
}

.carousel-cols {
    display: flex;
    flex-direction: row;
    .carousel-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../img/hex.png") center center no-repeat;
        background-size: 204px 182px;
        margin-left: -10px;
        text-align: center;
        height: 230px;
        width: 20%;
        margin: 0 20px;
        &:hover {
            background-image: url("../img/hex-hover.png");
        }
        h2 {
            font-size: 17px;
            margin: 10px 0;
        }
    }
}

.news {
    .news-box {
        align-items: center;
        border: 2px solid #dadada;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 337px;
        text-align: center;
        padding-bottom: 20px;
        img {
            width: 100%;
        }
        .btn-primary {
            color: #fff;
            background-color: #ae3052;
            border-color: #ae3052;
            &:hover {
                border-color: #972644;
            }
        }
    }
    .btn {
        border-radius: 0;
        width: 132px;
        height: 42px;
        transition: all 300ms ease-in-out;
    }
    .btn-outline-primary,
    .btn-outline-primary:hover {
        color: #212529;
        background-color: transparent;
        border-color: #ae3052;
    }
    .btn-outline-primary:hover {
        font-size: 14px;
    }
}

.page-footer {
    font-size: 13px;
    line-height: 23px;
    h3 {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .footer-logo {
        margin-bottom: 29px;
    }
    .footer-phone {
        p {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            > span {
                font-size: 13px;
                font-weight: 100;
            }
        }
        img {
            float: left;
            height: 46px;
            width: 32px;
            margin-right: 7px;
        }
    }
    .main-footer {
        background-color: #212529;
        color: #fff;
        padding: 80px 0;
        .main-footer-cols {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    .copyright {
        background-color: #f9f9f9;
        padding: 21px 0 20px;
    }
}
